USE [examor_platform]
GO
/****** Object:  Table [dbo].[admin_audit_logs]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin_audit_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[action_type] [nvarchar](100) NOT NULL,
	[target_type] [nvarchar](100) NOT NULL,
	[target_id] [int] NULL,
	[details] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[answers]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[answers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NOT NULL,
	[question_id] [int] NOT NULL,
	[selected_option_id] [int] NULL,
	[text_answer] [nvarchar](max) NULL,
	[awarded_marks] [decimal](10, 2) NULL,
	[review_feedback] [nvarchar](max) NULL,
	[reviewed_by] [int] NULL,
	[reviewed_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[branches]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[branches](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[university_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[city] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[courses]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[courses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[level] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[departments]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[departments](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[faculty_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exam_attempts]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exam_attempts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [int] NOT NULL,
	[student_id] [int] NOT NULL,
	[start_time] [datetime] NULL,
	[submit_time] [datetime] NULL,
	[score] [int] NULL,
	[forced_submit] [bit] NOT NULL,
	[session_token] [nvarchar](128) NULL,
	[session_last_seen] [datetime] NULL,
	[question_order_json] [nvarchar](max) NULL,
	[option_order_json] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[exams]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[exams](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](255) NOT NULL,
	[course_id] [int] NULL,
	[created_by] [int] NOT NULL,
	[duration] [int] NULL,
	[total_marks] [int] NULL,
	[exam_code] [nvarchar](50) NULL,
	[start_date] [datetime] NULL,
	[end_date] [datetime] NULL,
	[created_at] [datetime] NULL,
	[access_mode] [nvarchar](20) NOT NULL,
	[randomize_questions] [bit] NOT NULL,
	[randomize_options] [bit] NOT NULL,
	[proctoring_enabled] [bit] NOT NULL,
	[post_end_visibility_mode] [nvarchar](20) NOT NULL,
	[post_end_grace_minutes] [int] NOT NULL,
	[max_attempts_per_student] [int] NOT NULL,
	[allow_custom_exam_code] [bit] NOT NULL,
	[screen_capture_protection] [bit] NOT NULL,
	[is_demo_exam] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[exam_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faculties]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faculties](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[branch_id] [int] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[options]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question_id] [int] NOT NULL,
	[option_text] [nvarchar](500) NULL,
	[is_correct] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proctoring_violations]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proctoring_violations](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[attempt_id] [int] NOT NULL,
	[violation_type] [nvarchar](50) NULL,
	[count] [int] NULL,
	[reason] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_bank]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_bank](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[doctor_id] [int] NOT NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[question_type] [nvarchar](50) NOT NULL,
	[marks] [int] NOT NULL,
	[correct_answer] [nvarchar](max) NULL,
	[created_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[question_bank_options]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[question_bank_options](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_question_id] [int] NOT NULL,
	[option_text] [nvarchar](max) NOT NULL,
	[is_correct] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[questions]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[questions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[exam_id] [int] NOT NULL,
	[question_text] [nvarchar](max) NOT NULL,
	[question_type] [nvarchar](20) NULL,
	[marks] [int] NULL,
	[correct_answer] [nvarchar](10) NULL,
	[question_order] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[universities]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[universities](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[country] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](20) NOT NULL,
	[university_id] [int] NULL,
	[department_id] [int] NULL,
	[created_at] [datetime] NULL,
	[profile_mode] [nvarchar](20) NULL,
	[is_active] [bit] NOT NULL,
	[phone_number] [nvarchar](30) NULL,
	[academic_year] [nvarchar](100) NULL,
	[bio] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[admin_audit_logs] ADD  CONSTRAINT [DF_admin_audit_logs_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exam_attempts] ADD  CONSTRAINT [DF_exam_attempts_forced_submit]  DEFAULT ((0)) FOR [forced_submit]
GO
ALTER TABLE [dbo].[exams] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_access_mode]  DEFAULT ('department') FOR [access_mode]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_randomize_questions]  DEFAULT ((0)) FOR [randomize_questions]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_randomize_options]  DEFAULT ((0)) FOR [randomize_options]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_proctoring_enabled]  DEFAULT ((0)) FOR [proctoring_enabled]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_post_end_visibility_mode]  DEFAULT ('hide') FOR [post_end_visibility_mode]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_post_end_grace_minutes]  DEFAULT ((0)) FOR [post_end_grace_minutes]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_max_attempts_per_student]  DEFAULT ((1)) FOR [max_attempts_per_student]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_allow_custom_exam_code]  DEFAULT ((0)) FOR [allow_custom_exam_code]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_screen_capture_protection]  DEFAULT ((0)) FOR [screen_capture_protection]
GO
ALTER TABLE [dbo].[exams] ADD  CONSTRAINT [DF_exams_is_demo_exam]  DEFAULT ((0)) FOR [is_demo_exam]
GO
ALTER TABLE [dbo].[faculties] ADD  CONSTRAINT [DF_faculties_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[proctoring_violations] ADD  DEFAULT ((1)) FOR [count]
GO
ALTER TABLE [dbo].[proctoring_violations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[question_bank] ADD  CONSTRAINT [DF_question_bank_created_at]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[question_bank_options] ADD  CONSTRAINT [DF_question_bank_options_is_correct]  DEFAULT ((0)) FOR [is_correct]
GO
ALTER TABLE [dbo].[universities] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  CONSTRAINT [DF_users_is_active]  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[exam_attempts] ([id])
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD FOREIGN KEY([selected_option_id])
REFERENCES [dbo].[options] ([id])
GO
ALTER TABLE [dbo].[answers]  WITH CHECK ADD  CONSTRAINT [FK_answers_reviewed_by_users] FOREIGN KEY([reviewed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[answers] CHECK CONSTRAINT [FK_answers_reviewed_by_users]
GO
ALTER TABLE [dbo].[branches]  WITH CHECK ADD FOREIGN KEY([university_id])
REFERENCES [dbo].[universities] ([id])
GO
ALTER TABLE [dbo].[courses]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[departments]  WITH CHECK ADD  CONSTRAINT [FK_departments_faculties] FOREIGN KEY([faculty_id])
REFERENCES [dbo].[faculties] ([id])
GO
ALTER TABLE [dbo].[departments] CHECK CONSTRAINT [FK_departments_faculties]
GO
ALTER TABLE [dbo].[exam_attempts]  WITH CHECK ADD FOREIGN KEY([exam_id])
REFERENCES [dbo].[exams] ([id])
GO
ALTER TABLE [dbo].[exam_attempts]  WITH CHECK ADD FOREIGN KEY([student_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[courses] ([id])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[faculties]  WITH CHECK ADD  CONSTRAINT [FK_faculties_branches] FOREIGN KEY([branch_id])
REFERENCES [dbo].[branches] ([id])
GO
ALTER TABLE [dbo].[faculties] CHECK CONSTRAINT [FK_faculties_branches]
GO
ALTER TABLE [dbo].[options]  WITH CHECK ADD FOREIGN KEY([question_id])
REFERENCES [dbo].[questions] ([id])
GO
ALTER TABLE [dbo].[proctoring_violations]  WITH CHECK ADD FOREIGN KEY([attempt_id])
REFERENCES [dbo].[exam_attempts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_bank]  WITH CHECK ADD  CONSTRAINT [FK_question_bank_doctor] FOREIGN KEY([doctor_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[question_bank] CHECK CONSTRAINT [FK_question_bank_doctor]
GO
ALTER TABLE [dbo].[question_bank_options]  WITH CHECK ADD  CONSTRAINT [FK_question_bank_options_bank_question] FOREIGN KEY([bank_question_id])
REFERENCES [dbo].[question_bank] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[question_bank_options] CHECK CONSTRAINT [FK_question_bank_options_bank_question]
GO
ALTER TABLE [dbo].[questions]  WITH CHECK ADD FOREIGN KEY([exam_id])
REFERENCES [dbo].[exams] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([department_id])
REFERENCES [dbo].[departments] ([id])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([university_id])
REFERENCES [dbo].[universities] ([id])
GO
ALTER TABLE [dbo].[exams]  WITH CHECK ADD  CONSTRAINT [CK_exams_access_mode] CHECK  (([access_mode]='link' OR [access_mode]='department'))
GO
ALTER TABLE [dbo].[exams] CHECK CONSTRAINT [CK_exams_access_mode]
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD  CONSTRAINT [CK_users_profile_mode] CHECK  (([profile_mode] IS NULL OR ([profile_mode]='independent' OR [profile_mode]='academic')))
GO
ALTER TABLE [dbo].[users] CHECK CONSTRAINT [CK_users_profile_mode]
GO
/****** Object:  StoredProcedure [dbo].[sp_AddUser]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================================
-- PART 10: STORED PROCEDURES
-- =============================================================

-- SP 1: Add User
CREATE PROCEDURE [dbo].[sp_AddUser]
    @Name         NVARCHAR(255),
    @Email        NVARCHAR(255),
    @Password     NVARCHAR(255),
    @Role         NVARCHAR(20),
    @UniversityID INT = NULL,
    @DepartmentID INT = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO users (name, email, password, role, university_id, department_id)
    VALUES (@Name, @Email, @Password, @Role, @UniversityID, @DepartmentID);
    SELECT SCOPE_IDENTITY() AS NewUserID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateExamScore]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 6: Calculate Exam Score
CREATE PROCEDURE [dbo].[sp_CalculateExamScore]
    @AttemptID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Score INT = 0;

    -- MCQ: add marks for correct selected options
    SELECT @Score = @Score + ISNULL(SUM(q.marks), 0)
    FROM answers  a
    JOIN questions q ON a.question_id       = q.id
    JOIN options   o ON a.selected_option_id = o.id
    WHERE a.attempt_id    = @AttemptID
      AND q.question_type = 'MCQ'
      AND o.is_correct    = 1;

    -- TrueFalse: compare student answer to correct_answer column
    SELECT @Score = @Score + ISNULL(SUM(q.marks), 0)
    FROM answers  a
    JOIN questions q ON a.question_id = q.id
    WHERE a.attempt_id    = @AttemptID
      AND q.question_type = 'TrueFalse'
      AND a.text_answer   = q.correct_answer;

    -- Essay: manual grading, not counted here

    UPDATE exam_attempts SET score = @Score WHERE id = @AttemptID;
    SELECT @Score AS TotalScore;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateExam]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 2: Create Exam
CREATE PROCEDURE [dbo].[sp_CreateExam]
    @Title      NVARCHAR(255),
    @CourseID   INT,
    @CreatedBy  INT,
    @Duration   INT,
    @TotalMarks INT,
    @ExamCode   NVARCHAR(50),
    @StartDate  DATETIME,
    @EndDate    DATETIME
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO exams (title, course_id, created_by, duration, total_marks, exam_code, start_date, end_date)
    VALUES (@Title, @CourseID, @CreatedBy, @Duration, @TotalMarks, @ExamCode, @StartDate, @EndDate);
    SELECT SCOPE_IDENTITY() AS NewExamID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GenerateExamLink]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 5: Generate Exam Link
CREATE PROCEDURE [dbo].[sp_GenerateExamLink]
    @ExamID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @Code NVARCHAR(50);
    SET @Code = 'EX' + CAST(@ExamID AS NVARCHAR)
              + '-' + CAST(ABS(CHECKSUM(NEWID())) % 90000 + 10000 AS NVARCHAR);
    UPDATE exams SET exam_code = @Code WHERE id = @ExamID;
    SELECT @Code AS ExamLink;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetExamStats]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 8: Get Exam Statistics
CREATE PROCEDURE [dbo].[sp_GetExamStats]
    @ExamID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        e.title             AS ExamTitle,
        COUNT(ea.id)        AS TotalAttempts,
        AVG(ea.score)       AS AverageScore,
        MAX(ea.score)       AS HighestScore,
        MIN(ea.score)       AS LowestScore,
        e.total_marks       AS TotalMarks
    FROM exam_attempts ea
    JOIN exams e ON ea.exam_id = e.id
    WHERE ea.exam_id = @ExamID
    GROUP BY e.title, e.total_marks;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetStudentResults]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 7: Get Student Results
CREATE PROCEDURE [dbo].[sp_GetStudentResults]
    @StudentID INT
AS
BEGIN
    SET NOCOUNT ON;
    SELECT
        u.name              AS StudentName,
        e.title             AS ExamTitle,
        c.name              AS CourseName,
        ea.start_time,
        ea.submit_time,
        ea.score,
        ex.total_marks,
        CAST(ea.score * 100.0 / NULLIF(ex.total_marks,0) AS DECIMAL(5,2)) AS Percentage
    FROM exam_attempts ea
    JOIN users  u  ON ea.student_id = u.id
    JOIN exams  ex ON ea.exam_id    = ex.id
    JOIN courses c ON ex.course_id  = c.id
    LEFT JOIN exams e ON ea.exam_id = e.id
    WHERE ea.student_id = @StudentID
    ORDER BY ea.start_time DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_StartExamAttempt]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 3: Start Exam Attempt (OUTPUT parameter)
CREATE PROCEDURE [dbo].[sp_StartExamAttempt]
    @ExamID    INT,
    @StudentID INT,
    @AttemptID INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO exam_attempts (exam_id, student_id, start_time)
    VALUES (@ExamID, @StudentID, GETDATE());
    SET @AttemptID = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[sp_SubmitAnswer]    Script Date: 3/23/2026 6:09:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- SP 4: Submit Answer
CREATE PROCEDURE [dbo].[sp_SubmitAnswer]
    @AttemptID        INT,
    @QuestionID       INT,
    @SelectedOptionID INT  = NULL,
    @TextAnswer       NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO answers (attempt_id, question_id, selected_option_id, text_answer)
    VALUES (@AttemptID, @QuestionID, @SelectedOptionID, @TextAnswer);
END
GO
